.movie-genre, .genre-description, h3, .movie-title{
  text-align: center;
}

.movie-genre, h3 {
  text-decoration: underline;
}

#genre-button, #movie-button {
  background-color: #513E6B;
  color: #FFFFFF;
}

.movie-poster{
  text-align: center;
}

#genre-view{background-color: #B9A4DB;}
