.movie-genre, .genre-description, h3, .movie-title{
  text-align: center;
}

.movie-genre, h3 {
  text-decoration: underline;
}

#genre-button, #movie-button {
  background-color: #513E6B;
  color: #FFFFFF;
}

#genre-button{
  margin: 20px 0;
  padding: 10px 20px;
}

.movie-poster{
  text-align: center;
}

#genre-view{
  background-color: #B9A4DB;
  padding: 25px;
  margin: 10px 0;
}
