.registration-card{background-color: #B9A4DB;}

#submit-btn {
  background-color: #513E6B;
  color: #FFFFFF;
  margin-top: 15px;
}

#back-btn {
  background-color: #513E6B;
  color: #FFFFFF;
  margin: 15px 0 0 25px;
}
