#delete-button, #update-button, #remove-button {
  background-color: #513E6B;
  color: #FFFFFF;
}

#update-button{
  margin-top: 10px;
}

#info-card, #update-card, #fav-card{background-color: #B9A4DB;}

h2{
  padding: 10px;
  text-decoration: underline;
  text-align: center;
}

#fav-title{
  text-align: center;
  color: #000;
}

#update-title, #info-title{text-decoration: underline;}
