#movie-button, #add-button, #remove-button {
  background-color: #513E6B;
  color: #FFFFFF;
}

.movie-poster{
  text-align: center;
}

.movie-title{
  text-align: center;
  text-decoration: underline;
}

#movie-card{background-color: #B9A4DB;}

#genre-link, #director-link{
  color: #212529;
  text-decoration: underline;
}
