.navigation-bar{background-color: #69548C;}

#navbar-logo{font-size: 30px;}

#user-name, #logout, #sign-in, #sign-up{
  color: #000;
  font-size: 18px;
}

#user-name:hover, #sign-in:hover, #sign-up:hover, #logout:hover{
  text-decoration: underline;
}
