.movie-director, h3, .movie-title{
  text-align: center;
  text-decoration: underline;
}

#director-button, #movie-button {
  background-color: #513E6B;
  color: #FFFFFF;
}

.movie-poster{
  text-align: center;
}

#director-card{background-color: #B9A4DB;}
